In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
randn(7)

array([ 0.01501146,  0.84866914, -0.35802488,  0.06776779,  0.20963508,
       -0.77911453,  0.15606035])

In [4]:
df = pd.DataFrame(data=randn(3,3),index =["a","b","c"],columns=["c1","c2","c3"])

In [5]:
df

         c1        c2        c3
a -0.138477 -1.220672 -0.200486
b  0.062214  1.451992  1.002786
c -0.463216  0.531251 -0.258087

In [6]:
df["c3"]

a   -0.200486
b    1.002786
c   -0.258087
Name: c3, dtype: float64

In [7]:
type(df["c3"])

pandas.core.series.Series

In [8]:
df.loc["b"]

c1    0.062214
c2    1.451992
c3    1.002786
Name: b, dtype: float64

In [9]:
type(df["c3"])

pandas.core.series.Series

In [10]:
df[["c1","c3"]]

         c1        c3
a -0.138477 -0.200486
b  0.062214  1.002786
c -0.463216 -0.258087

In [11]:
df

         c1        c2        c3
a -0.138477 -1.220672 -0.200486
b  0.062214  1.451992  1.002786
c -0.463216  0.531251 -0.258087

In [12]:
df["c4"]=pd.Series(randn(3),["a","b","c"])

In [13]:
df

         c1        c2        c3        c4
a -0.138477 -1.220672 -0.200486 -2.042068
b  0.062214  1.451992  1.002786  0.421212
c -0.463216  0.531251 -0.258087  0.617972

In [14]:
df["c5"]=df["c1"]+df["c2"]+df["c3"]

In [15]:
df

         c1        c2        c3        c4        c5
a -0.138477 -1.220672 -0.200486 -2.042068 -1.559635
b  0.062214  1.451992  1.002786  0.421212  2.516991
c -0.463216  0.531251 -0.258087  0.617972 -0.190052

In [16]:
df.drop("c5",axis=1)   #axis=1 means columns and axis=0 index

         c1        c2        c3        c4
a -0.138477 -1.220672 -0.200486 -2.042068
b  0.062214  1.451992  1.002786  0.421212
c -0.463216  0.531251 -0.258087  0.617972

In [17]:
df

         c1        c2        c3        c4        c5
a -0.138477 -1.220672 -0.200486 -2.042068 -1.559635
b  0.062214  1.451992  1.002786  0.421212  2.516991
c -0.463216  0.531251 -0.258087  0.617972 -0.190052

In [19]:
df.drop("c5",axis=1,inplace=True)  #inplace=True--->perpetually

In [20]:
df

         c1        c2        c3        c4
a -0.138477 -1.220672 -0.200486 -2.042068
b  0.062214  1.451992  1.002786  0.421212
c -0.463216  0.531251 -0.258087  0.617972

In [21]:
df.iloc[0]

c1   -0.138477
c2   -1.220672
c3   -0.200486
c4   -2.042068
Name: a, dtype: float64

In [23]:
df.loc["a"]

c1   -0.138477
c2   -1.220672
c3   -0.200486
c4   -2.042068
Name: a, dtype: float64

In [24]:
df.loc["a","c3"]

-0.20048575093802082

In [25]:
df.loc["c","c2"]

0.5312510196894955

In [26]:
df.loc[["b","c"],["c1","c3"]]

         c1        c3
b  0.062214  1.002786
c -0.463216 -0.258087