In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [3]:
outerIn=["g1","g1","g1","g2","g2","g2","g3","g3","g3"]

In [4]:
innerIn=["i1","i2","i3","i1","i2","i3","i1","i2","i3"]

In [5]:
list(zip(outerIn,innerIn))

[('g1', 'i1'),
 ('g1', 'i2'),
 ('g1', 'i3'),
 ('g2', 'i1'),
 ('g2', 'i2'),
 ('g2', 'i3'),
 ('g3', 'i1'),
 ('g3', 'i2'),
 ('g3', 'i3')]

In [6]:
hierarchy= list(zip(outerIn,innerIn))

In [9]:
hierarchy = pd.MultiIndex.from_tuples(hierarchy)

In [10]:
hierarchy

MultiIndex([('g1', 'i1'),
            ('g1', 'i2'),
            ('g1', 'i3'),
            ('g2', 'i1'),
            ('g2', 'i2'),
            ('g2', 'i3'),
            ('g3', 'i1'),
            ('g3', 'i2'),
            ('g3', 'i3')],
           )

In [11]:
df = pd.DataFrame(randn(9,3),hierarchy,columns=["c1","c2","c3"])

In [12]:
df

             c1        c2        c3
g1 i1  0.930316  0.393189  0.694458
   i2  0.027119 -1.268018 -0.026461
   i3 -1.579700  2.550665  1.173977
g2 i1  0.477546  0.781662  0.121625
   i2 -0.412383  0.634481  1.481377
   i3 -2.051649 -1.965108 -2.318084
g3 i1 -0.689886 -0.114913  0.922160
   i2  1.976687  2.221010 -0.239479
   i3 -2.918516 -0.162647 -0.490254

In [13]:
df["c1"]

g1  i1    0.930316
    i2    0.027119
    i3   -1.579700
g2  i1    0.477546
    i2   -0.412383
    i3   -2.051649
g3  i1   -0.689886
    i2    1.976687
    i3   -2.918516
Name: c1, dtype: float64

In [14]:
df.loc["g2"]

          c1        c2        c3
i1  0.477546  0.781662  0.121625
i2 -0.412383  0.634481  1.481377
i3 -2.051649 -1.965108 -2.318084

In [15]:
df.loc[["g1","g3"]]

             c1        c2        c3
g1 i1  0.930316  0.393189  0.694458
   i2  0.027119 -1.268018 -0.026461
   i3 -1.579700  2.550665  1.173977
g3 i1 -0.689886 -0.114913  0.922160
   i2  1.976687  2.221010 -0.239479
   i3 -2.918516 -0.162647 -0.490254

In [17]:
df.loc["g2"].loc["i2"]["c1"]

-0.41238338386466517

In [18]:
df

             c1        c2        c3
g1 i1  0.930316  0.393189  0.694458
   i2  0.027119 -1.268018 -0.026461
   i3 -1.579700  2.550665  1.173977
g2 i1  0.477546  0.781662  0.121625
   i2 -0.412383  0.634481  1.481377
   i3 -2.051649 -1.965108 -2.318084
g3 i1 -0.689886 -0.114913  0.922160
   i2  1.976687  2.221010 -0.239479
   i3 -2.918516 -0.162647 -0.490254

In [19]:
df.index.names

FrozenList([None, None])

In [20]:
df.index.names=["group","index"]

In [21]:
df

                   c1        c2        c3
group index
g1    i1     0.930316  0.393189  0.694458
      i2     0.027119 -1.268018 -0.026461
      i3    -1.579700  2.550665  1.173977
g2    i1     0.477546  0.781662  0.121625
      i2    -0.412383  0.634481  1.481377
      i3    -2.051649 -1.965108 -2.318084
g3    i1    -0.689886 -0.114913  0.922160
      i2     1.976687  2.221010 -0.239479
      i3    -2.918516 -0.162647 -0.490254

In [22]:
df.loc["g1"]

             c1        c2        c3
index
i1     0.930316  0.393189  0.694458
i2     0.027119 -1.268018 -0.026461
i3    -1.579700  2.550665  1.173977

In [23]:
df.xs("g1")

             c1        c2        c3
index
i1     0.930316  0.393189  0.694458
i2     0.027119 -1.268018 -0.026461
i3    -1.579700  2.550665  1.173977

In [26]:
df.xs("g2").xs("i1").xs("c3")

0.12162469846348267

In [27]:
df.xs("i2",level="index")

             c1        c2        c3
group
g1     0.027119 -1.268018 -0.026461
g2    -0.412383  0.634481  1.481377
g3     1.976687  2.221010 -0.239479