In [1]:
import numpy as np
import pandas as pd

In [2]:
list =["null","eins","zwei","drei","vier"]

In [3]:
data= [2,3,7,11,13]

In [4]:
pd.Series(data=data,index=list)

null     2
eins     3
zwei     7
drei    11
vier    13
dtype: int64

In [5]:
pd.Series(data,list)

null     2
eins     3
zwei     7
drei    11
vier    13
dtype: int64

In [6]:
pd.Series(list)   //default

0    null
1    eins
2    zwei
3    drei
4    vier
dtype: object

In [7]:
nparray =np.array([11,13,17,19,23])

In [8]:
pd.Series(nparray)

0    11
1    13
2    17
3    19
4    23
dtype: int32

In [9]:
pd.Series(nparray,list)

null    11
eins    13
zwei    17
drei    19
vier    23
dtype: int32

In [10]:
pd.Series(data=nparray,index=["a","b","c","d","e"])

a    11
b    13
c    17
d    19
e    23
dtype: int32

In [11]:
dataDict={"sieben":7,"elf":11,"dreizehn":13,"siebzehn":17}

In [12]:
pd.Series(dataDict)

sieben       7
elf         11
dreizehn    13
siebzehn    17
dtype: int64

In [13]:
number =pd.Series([2,3,4,5],["i","j","k","t"])

In [14]:
number2 =pd.Series([2,1,3,4],["i","j","t","n"])

In [15]:
number

i    2
j    3
k    4
t    5
dtype: int64

In [16]:
number+number2

i    4.0
j    4.0
k    NaN
n    NaN
t    8.0
dtype: float64

In [17]:
total = number +number2

In [18]:
total["j"]

4.0

In [19]:
total["k"]

nan